# Projet évaluation de performance
## génération automatique d'un emploi du temps
#### _Hoel Roquinarc'h - Théo Manéa_

### Entrée des données

In [1]:
import numpy as np
import pandas as pd

In [2]:
data=open("data/profs.txt")
list_prof=data.readlines()

data=open("data/matiere.txt")
list_sujet=data.readlines()

'''data=open("data/classes.txt")
list_class=data.readlines()'''

nb_class= 3
nb_TsPerDay = 2
nb_room = 4

In [3]:
#list prof -> dataframe
data_lines=[]
for d in list_prof : 
    data_lines.append(d[:len(d)-1].split("\t"))
    
list_prof=pd.DataFrame(data_lines,columns=["id","nom","matiere"])

In [4]:
list_prof

    id     nom          matiere
0  000  Prof_1          001 005
1  001  Prof_2          002 003
2  002  Prof_3              003
3  003  Prof_4          004 008
4  004  Prof_5          002 004
5  005  Prof_6  001 005 007 009
6  006  Prof_7           006 00

In [5]:
#list sujet -> dataframe
data_lines=[]
for d in list_sujet : 
    data_lines.append(d[:len(d)-1].split("\t"))
    
list_sujet=pd.DataFrame(data_lines,columns=["id","matiere"])

In [6]:
'''#list class -> dataframe
data_lines=[]
for d in list_class : 
    data_lines.append(d[:len(d)-1].split("\t"))
    
list_class=pd.DataFrame(data_lines,columns=["id","class","matiere"])'''

'#list class -> dataframe\ndata_lines=[]\nfor d in list_class : \n    data_lines.append(d[:len(d)-1].split("\t"))\n    \nlist_class=pd.DataFrame(data_lines,columns=["id","class","matiere"])'

In [7]:
#matiere -> list de matiere
list_prof["mat_list"]=[list_prof["matiere"][i].split(" ") for i in range(len(list_prof["matiere"]))]
#dropping matiere
list_prof=list_prof.drop(columns=["matiere"])

In [8]:
'''#meme opération dans list class
list_class["mat_list"]=[list_class["matiere"][i].split(" ") for i in range(len(list_class["matiere"]))]
#dropping matiere
list_class=list_class.drop(columns=["matiere"])'''

'#meme opération dans list class\nlist_class["mat_list"]=[list_class["matiere"][i].split(" ") for i in range(len(list_class["matiere"]))]\n#dropping matiere\nlist_class=list_class.drop(columns=["matiere"])'

In [9]:
list_prof

    id     nom              mat_list
0  000  Prof_1            [001, 005]
1  001  Prof_2            [002, 003]
2  002  Prof_3                 [003]
3  003  Prof_4            [004, 008]
4  004  Prof_5            [002, 004]
5  005  Prof_6  [001, 005, 007, 009]
6  006  Prof_7             [006, 00]

In [10]:
list_sujet

    id    matiere
0  000  matiere_0
1  001  matiere_1
2  002  matiere_2
3  003  matiere_3
4  004  matiere_4
5  005  matiere_5
6  006  matiere_6
7  007  matiere_7
8  008  matiere_8
9  009  matiere_9